<a href="https://colab.research.google.com/github/igorcarmona/Carros/blob/main/Carros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ativdade com dicionários, funções e pandas.

In [18]:
import pandas as pd
import numpy as np

In [31]:
dados = {
    'Corsa': {'km': 35000, 'ano': 2005}, 
    'Golf': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Siena': {'km': 56000, 'ano': 2011}, 
    'Gol': {'km': 62000, 'ano': 1999}
}

In [35]:
def media(data, ano_atual): 
  for i in data.items(): 
    resultado = i[1]['km'] / (ano_atual - i[1]['ano'])
    print(resultado)

In [37]:
media(dados, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

In [38]:
def mediaupdate(data, ano_atual):
  resultado = {}
  for i in data.items():
    media = i[1]['km'] / (ano_atual - i[1]['ano'])
    i[1].update({'km_media': media})
    resultado.update({i[0]: i[1]})
  return resultado

In [39]:
tabela_atualizada = mediaupdate(dados, 2019)

In [40]:
tabela_atualizada

{'Corsa': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'Golf': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Siena': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Gol': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

In [43]:
dataset = pd.DataFrame(tabela_atualizada).T

In [44]:
dataset

             km     ano  km_media
Corsa   35000.0  2005.0    2500.0
Golf    17000.0  2015.0    4250.0
Fusca  130000.0  1979.0    3250.0
Siena   56000.0  2011.0    7000.0
Gol     62000.0  1999.0    3100.0